.checkout {
  width: 100%;

  min-height: calc(100vh - 120px);

  padding: 20px 16px 100px;

  box-sizing: border-box;
}

.checkout_header {
  margin-bottom: 30px;
}

.checkout_header h1 {
  font-size: 27px;

  margin-bottom: 8px;
}

.checkout_header p {
  font-size: 14px;
}

.checkout_section {
  padding: 20px 0;

  border-bottom: 1px solid #eee;
}

.checkout_section h2 {
  font-size: 19px;

  margin-bottom: 15px;
}

/* ORDER TYPE */

.order_type {
  display: flex;

  gap: 10px;
}

.order_type button {
  flex: 1;

  height: 48px;

  border: 1px solid #ddd;

  border-radius: 8px;

  background: white;

  font-size: 14px;

  cursor: pointer;
}

.order_type button.selected {
  border: 2px solid black;

  font-weight: 600;
}

/* FORM */

.checkout_section form {
  display: flex;

  flex-direction: column;

  gap: 18px;
}

.checkout_section label {
  display: flex;

  flex-direction: column;

  gap: 8px;

  font-size: 14px;

  font-weight: 600;
}

.checkout_section input,
.checkout_section textarea {
  width: 100%;

  box-sizing: border-box;

  border: 1px solid #ddd;

  border-radius: 8px;

  padding: 12px;

  font-size: 15px;

  font-family: inherit;
}

.checkout_section input {
  height: 48px;
}

.checkout_section textarea {
  min-height: 100px;

  resize: vertical;
}

/* BUTTON */

.place_order_button {
  width: 100%;

  height: 50px;

  border: none;

  border-radius: 8px;

  font-size: 15px;

  font-weight: 600;

  cursor: pointer;
}

/* SUMMARY */

.summary_shop,
.summary_item,
.summary_total {
  display: flex;

  justify-content: space-between;

  gap: 15px;

  margin-bottom: 15px;

  font-size: 14px;
}

.summary_shop {
  padding-bottom: 10px;

  border-bottom: 1px solid #eee;
}

.summary_total {
  padding-top: 15px;

  border-top: 1px solid #ddd;

  font-size: 17px;
}

/* EMPTY */

.checkout_empty {
  min-height: calc(100vh - 120px);

  display: flex;

  flex-direction: column;

  align-items: center;
  justify-content: center;

  gap: 15px;
}

.checkout_empty button {
  padding: 10px 20px;

  border: none;

  border-radius: 8px;

  cursor: pointer;
}

/* PAYMENT METHOD */

.payment_method {
  display: flex;
  gap: 10px;
}

.payment_method button {
  flex: 1;
  min-height: 48px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: white;
  font-size: 14px;
  cursor: pointer;
}

.payment_method button.selected {
  border: 2px solid black;
  font-weight: 600;
}
