.order_location_map {
  width: 100%;
  margin-top: 15px;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid #ddd;
}

.order_location_map .leaflet-container {
  width: 100%;
  height: 300px;
  border-radius: 12px;
}
