* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-height: 100%;
}

body {
  font-family: Arial, sans-serif;
}

.app_content {
  padding-top: 0px;
  padding-bottom: 0px;
}

button,
a,
input,
textarea,
article,
select {
  -webkit-tap-highlight-color: transparent;
}

button:focus,
button:focus-visible,
a:focus,
a:focus-visible {
  outline: none;
}
